body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  background-color: #fff;
  cursor: default;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1260px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  width: fit-content;
  height: 44px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  font-weight: 500;
  color: #fff;
  background-color: #0ba5ec;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #168de3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101828;
}

h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;

  span {
    color: #0ba5ec;
  }

  @include m($xl) {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 40px;
  }

  @include m($lg) {
    font-size: 26px;
    line-height: 34px;
  }
}

.footer {
  background: #f9fafb;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;

    @include m($xl) {
      height: 105px;
    }

    @include m($md) {
      flex-direction: column;
      justify-content: space-around;
    }
  }

  p {
    color: #98a2b3;

    @include m($xl) {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }

  .logo {
    img {
      @include m($lg) {
        max-width: 80%;
      }
    }
  }
}

.nav__link {
  transition: all 0.2s;

  &:hover {
    color: #0ba5ec !important;
  }
}

.nav__link--active {
  color: #0ba5ec !important;
}

.support {
  padding-top: 80px;

  @include m($xl) {
    padding-top: 60px;
  }

  @include m($lg) {
    padding-top: 50px;
  }

  @include m($md) {
    padding-top: 40px;
  }
}