.hero {
  margin-bottom: 50px;
  overflow: hidden;

  &__pic {
    display: none;

    img {
      @include m($md) {
        margin: 0 auto;
        max-width: 50%;
      }

      @include m($sm) {
        margin: 0 auto;
        max-width: 100%;
      }
    }

    @include m($lg) {
      display: block;
    }

    @include m(800) {
      max-width: 95%;
    }
  }

  .button {
    padding: 0 28px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    @include m($xl) {
      height: 45px;
      font-size: 16px;
    }
  }

  h1 {
    position: relative;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 53px;
    line-height: 72px;
    letter-spacing: -0.02em;

    &::after {
      content: "";
      position: absolute;
      left: -31%;
      top: -45px;
      width: 180px;
      height: 130px;
      background-image: url("../images/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include m($xxl) {
        left: -32%;
        transform: scale(0.8);
      }

      @include m($xl) {
        left: -28%;
        transform: scale(0.6);
      }

      @include m($lg) {
        display: none;
      }
    }

    @include m($xxl) {
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 66px;
    }

    @include m($xl) {
      margin-bottom: 15px;
      font-size: 40px;
      line-height: 52px;
    }

    @include m($md) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  p {
    margin-bottom: 48px;
    max-width: 480px;
    font-size: 20px;
    line-height: 30px;

    @include m($xl) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 754px;
    max-height: 754px;

    &::after {
      content: "";
      position: absolute;
      left: -30px;
      top: 60px;
      width: 100%;
      height: 100%;
      max-width: 55vw;
      background-image: url("../images/smart.png");
      background-size: contain;
      background-repeat: no-repeat;

      @include m($xl) {
        left: 0;
        max-width: 45vw;
      }

      @include m($lg) {
        display: none;
      }
    }

    @include m($xl) {
      min-height: 604px;
      max-height: 604px;
    }

    @include m($md) {
      flex-direction: column-reverse;
      padding-top: 140px;
      min-height: fit-content;
      max-height: fit-content;
    }

    @include m($sm) {
      padding-top: 110px;
    }
  }

  &__info {
    z-index: 10;
    width: 100%;
    max-width: 576px;

    @include m($xxl) {
      max-width: 520px;
    }

    @include m($xl) {
      max-width: 490px;
    }

    @include m($lg) {
      max-width: 430px;
    }

    @include m(800) {
      min-width: 364px;
      max-width: 520px;
    }

    @include m($md) {
      margin-bottom: 30px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  &__blur {
    z-index: -1;
    opacity: 0.4;
    width: 501px;
    height: 494px;
    border-radius: 50%;
    background: #168de3;
    filter: blur(333px);

    @include m($lg) {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @include m($xl) {
    margin-bottom: 0;
  }
}

.solution {
  z-index: 5;
  margin-bottom: 160px;
  padding: 96px 0;

  h3 {
    text-align: center;
  }

  &__text {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    @include m($xl) {
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 26px;
    }

    @include m($lg) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 24px;
    }

    @include m($sm) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  ul {
    display: grid;
    grid-gap: 64px 32px;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      width: 100%;
      max-width: 384px;
      text-align: center;

      @include m($sm) {
        max-width: 100%;
      }
    }

    h5 {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;

      @include m($xl) {
        font-size: 18px;
        line-height: 26px;
      }
    }

    p {
      @include m($xl) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    img {
      margin: 0 auto 20px;
      width: 48px;
      height: 48px;

      @include m($xl) {
        margin: 0 auto 15px;
      }

      @include m($lg) {
        transform: scale(0.9);
      }
    }

    @include m($xl) {
      grid-gap: 50px 30px;
    }

    @include m($lg) {
      grid-gap: 40px 30px;
    }

    @include m($md) {
      grid-gap: 30px 25px;
      grid-template-columns: 1fr 1fr;
    }

    @include m($sm) {
      grid-gap: 25px 0;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    margin-bottom: 120px;
    padding: 80px 0;
  }

  @include m($lg) {
    margin-bottom: 80px;
    padding: 60px 0;
  }

  @include m($md) {
    margin-bottom: 70px;
    padding: 50px 0;
  }
}

.system {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 160px;
  background-color: #fbfdff;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -30%;
    opacity: 0.05;
    width: 100%;
    height: 100%;
    background-image: url("../images/figure.svg");
    background-repeat: no-repeat;
    filter: blur(333px);

    @include m($md) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include m($md) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__info {
    z-index: 5;
    width: 100%;
    min-width: 657px;
    max-width: 657px;

    @include m($xl) {
      min-width: 607px;
      max-width: 607px;
    }

    @include m($lg) {
      min-width: 500px;
      max-width: 500px;
    }

    @include m($md) {
      margin-bottom: 30px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  img {
    z-index: 5;
    margin-left: -5%;
    object-fit: cover;

    @include m($xl) {
      margin-left: 0;
      max-width: 75%;
    }
  }

  p {
    margin-bottom: 68px;
    max-width: 526px;
    font-size: 20px;
    line-height: 30px;
    color: #303135;

    @include m($xl) {
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 26px;
    }

    @include m($lg) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 24px;
    }

    @include m($md) {
      max-width: 100%;
    }

    @include m($sm) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  ul {
    max-width: 608px;

    li {
      position: relative;
      padding-left: 28px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        opacity: 0.8;
        width: 4px;
        height: 100%;
        background-color: #0ba5ec;
        transform: translateY(-50%);
      }

      &:not(:last-child) {
        margin-bottom: 32px;

        @include m($xl) {
          margin-bottom: 25px;
        }
      }

      &:last-child {
        &::after {
          opacity: 0.1;
        }
      }

      &:nth-child(2) {
        &::after {
          opacity: 0.6;
        }
      }

      &:nth-child(3) {
        &::after {
          opacity: 0.4;
        }
      }

      &:nth-child(4) {
        &::after {
          opacity: 0.2;
        }
      }

      @include m($xl) {
        padding-left: 20px;
      }

      @include m($lg) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    @include m($xl) {
      max-width: 560px;
    }

    @include m($md) {
      max-width: 100%;
    }
  }

  @include m($xl) {
    margin-bottom: 120px;
  }

  @include m($lg) {
    margin-bottom: 80px;
  }

  @include m($md) {
    margin-bottom: 70px;
  }
}

.about {
  margin-bottom: 160px;
  padding: 96px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m($md) {
      flex-direction: column-reverse;
    }
  }

  img {
    width: 100%;

    @include m($xl) {
      max-width: 550px;
    }

    @include m($lg) {
      max-width: 400px;
    }
  }

  &__info {
    max-width: 576px;

    @include m($md) {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  h3 {
    margin-bottom: 40px;
    letter-spacing: 0;
    color: #303135;

    @include m($xl) {
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;

    &:not(:last-child) {
      margin-bottom: 18px;

      @include m($xl) {
        margin-bottom: 15px;
      }
    }

    @include m($xl) {
      font-size: 16px;
      line-height: 24px;
    }

    @include m($lg) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .button {
    margin-top: 40px;
    padding: 0 20px;
    height: 48px;

    @include m($xl) {
      margin-top: 25px;
    }

    @include m($xl) {
      height: 45px;
      font-size: 16px;
    }
  }

  @include m($xl) {
    margin-bottom: 80px;
    padding: 80px 0;
  }

  @include m($lg) {
    margin-bottom: 70px;
    padding: 60px 0;
  }

  @include m($md) {
    padding: 50px 0;
  }
}

.tools {
  margin-bottom: 160px;
  padding: 96px 0;
  background-color: #fbfdff;

  h3 {
    text-align: center;
  }

  p {
    margin: 0 auto 64px;
    max-width: 768px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    @include m($xl) {
      margin: 0 auto 50px;
      font-size: 18px;
      line-height: 26px;
    }

    @include m($lg) {
      margin: 0 auto 40px;
      font-size: 16px;
      line-height: 24px;
    }

    @include m($sm) {
      margin: 0 auto 30px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  ul {
    display: grid;
    grid-gap: 52px 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    img {
      margin: 0 auto;

      @include m($xl) {
        max-width: 100px;
      }

      @include m($lg) {
        max-width: 80px;
      }

      @include m($sm) {
        max-width: 95px;
      }
    }

    @include m($xl) {
      grid-gap: 40px;
    }

    @include m($lg) {
      grid-gap: 20px;
    }

    @include m($sm) {
      grid-gap: 20px 0;
      grid-template-columns: 1fr 1fr;
    }
  }

  @include m($xl) {
    margin-bottom: 120px;
    padding: 80px 0;
  }

  @include m($lg) {
    margin-bottom: 100px;
    padding: 60px 0;
  }

  @include m($md) {
    margin-bottom: 80px;
    padding: 50px 0;
  }
}

.assistance {
  margin-bottom: 160px;
  padding: 5px 0 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m($md) {
      flex-direction: column;
    }
  }

  img {
    @include m(1450) {
      max-width: 45%;
    }

    @include m($sm) {
      max-width: 90%;
    }
  }

  &__info {
    margin-right: 40px;
    max-width: 397px;

    @include m($md) {
      margin-right: 0;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  h3 {
    margin-bottom: 52px;
    letter-spacing: 0;
    color: #303135;

    @include m($xl) {
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 18px;
    line-height: 22px;
    color: #303135;

    &:not(:last-child) {
      margin-bottom: 22px;

      @include m($xl) {
        margin-bottom: 15px;
      }
    }

    @include m($xl) {
      font-size: 16px;
      line-height: 24px;
    }

    @include m($lg) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  @include m($xl) {
    margin-bottom: 120px;
  }

  @include m($lg) {
    margin-bottom: 100px;
  }

  @include m($md) {
    margin-bottom: 80px;
  }
}

.contact {
  position: relative;
  padding: 228px 0;
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fbfdff;

    @include m($md) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m($md) {
      flex-direction: column;
    }
  }

  &__info {
    position: relative;
    max-width: 528px;

    &::after {
      content: url("../images/arrow-long.svg");
      position: absolute;
      left: -50%;
      bottom: -144px;

      @include m(1400) {
        left: -40%;
        transform: scale(0.8);
      }

      @include m($xl) {
        left: -30%;
      }

      @include m($lg) {
        display: none;
      }
    }

    h2 {
      position: relative;
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 60px;
      line-height: 72px;
      letter-spacing: -0.02em;
      color: #303135;

      &::after {
        content: url("../images/stars.svg");
        position: absolute;
        left: 0;
        top: -112px;
        width: 80px;
        height: 80px;

        @include m($xl) {
          transform: scale(0.8);
        }

        @include m($md) {
          display: none;
        }
      }

      @include m(1350) {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 52px;
      }

      @include m($xl) {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 42px;
      }
    }

    p {
      margin-bottom: 32px;
      font-size: 18px;
      line-height: 28px;
      color: #c0c4cc;

      @include m($xl) {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 24px;
      }

      @include m($lg) {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
      }
    }

    @include m(1350) {
      max-width: 45%;
    }

    @include m($md) {
      max-width: 100%;
    }
  }

  &__join {
    display: flex;
    align-items: center;

    img {
      margin-right: 16px;
    }

    h6 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #303135;

      @include m($lg) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .form {
    width: 100%;
    max-width: 360px;

    h3 {
      margin-bottom: 32px;

      @include m($xl) {
        margin-bottom: 15px;
      }
    }

    span {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #344054;
    }

    input,
    textarea {
      margin: 0 0 20px;
      padding: 10px 14px;
      width: 100%;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #344054;
      background-color: #fff;

      &::placeholder {
        color: #667085;
      }

      @include m($md) {
        margin: 0 0 15px;
        padding: 8px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    textarea {
      height: 154px;
      resize: none;
    }

    .button--submit {
      margin: 0;
      padding: 0 18px;
      font-weight: 500;
      color: #fff;
      background-color: #0ba5ec;

      &:hover {
        background-color: #168de3;
      }

      @include m($md) {
        height: 40px;
      }
    }

    @include m($lg) {
      max-width: 315px;
    }

    @include m($md) {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  @include m($xl) {
    padding: 100px 0;
  }

  @include m($lg) {
    padding: 50px 0 80px;
  }
}